<nav class="container mx-auto flex items-center justify-between py-4 px-8">
    <div>
        <img src="/img/logo.png" alt="logo">
    </div>
    <div>
        <ul class="flex items-center">
            <% if (user && user.role === 'admin') { %>
                <li class="ml-6"><a href="/">Add Menu</a></li>
            <% } else { %>
                <li class="ml-6"><a href="/">Menu</a></li>
            <% } %>
            
            
            <% if (user) { %>
                <% if (user && user.role === 'admin') { %>
                    <li class="ml-6"><a href="/admin/orders">Orders</a></li>
                <% } else { %>
                    <li class="ml-6"><a href="/customers/orders">Orders</a></li>
                <% } %>
                <li class="ml-6">
                        <a class="dropdown-toggle" href="/logout" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            <%= user.name %>
                        </a>
                        <ul class="dropdown-menu">
                            <form id="logout" action="/logout" method="POST">
                                <a onclick="document.getElementById('logout').submit()" class="ml-12" href="#">Logout</a>
                            </form>
                        </ul>
                      </li>
            <% }
            else { %>
                <li class="ml-6"><a href="/register">Register</a></li>
                <li class="ml-6"><a href="/login">Login</a></li>
            <% } %>
            <li class="ml-6"><a href="/cart" class="inline-block px-4 py-2 rounded-full flex items-center">
            <span id="cartCounter" class="text-white font-bold pr-2"><%= session.cart? session.cart.totalQty: '' %></span>    
            <img src="/img/cart.png" alt=""></a></li>
        </ul>
    </div>
</nav>